@{
    ViewData["Title"] = "Confirmação de exlusão do contato";
}

<div class="container">
    <h1 class="display-6 text-center mb-3">Deseja apagar o contato</h1>

    <div class="card shadow">
        <a class="btn btn-success" asp-controller="Contato" asp-action="Index">Confirmar exclusão</a>
        <a class="btn btn-outline-secondary">Cancelar exclusão</a>
    </div>
</div>