@{
    ViewData["Title"] = "Editar contato";
}

<div class="container">
    <h1 class="display-6 text-center mb-3">Editar contato</h1>

    <div class="card shadow">
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Digite o nome do contato">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Digite o email do contato">
                </div>

                <div class="mb-3">
                    <label for="celular" class="form-label">Celular</label>
                    <input type="text" class="form-control" id="celular" placeholder="Digite o celular do contato">
                </div>

                <button type="submit" class="btn btn-success">Editar</button>
                <a class="btn btn-outline-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
            </form>
        </div>
    </div>
</div>